<div class="flex">

    <aside class="fixed left-0 top-0 h-screen bg-slate-700 p-10">

        <h1 class="text-white font-bold text-4xl">Welcome user</h1>
        <div class="flex items-center justify-center mt-2">
            <button type="button" class="text-white bg-red-600 p-2">Log out</button>
        </div>

    </aside>

    <main class="flex-1 ml-44">

        <div class="flex h-screen bg-gray-800 p-10 justify-around flex-wrap text-white">

            <ng-content></ng-content>

        </div>

    </main>

</div>